.checkout {
  width: 100%;
  max-width: 1248px;
  &-total {
    padding: 1rem 1.25rem;
    border-bottom: $border;
    justify-content: space-between;
    .checkall {
      font: 600 0.875rem/1rem 'Inter';
    }
    &-price {
      color: rgba($color: #000000, $alpha: 0.68);
    }
  }
  &-cart {
    overflow-y: hidden;
    flex: 1 1 auto;
    &:hover {
      overflow-y: overlay;
    }
  }
  &-item {
    padding: 1rem 0;
    margin: 0 1.25rem;
    border-bottom: $border;
    justify-content: space-between;
    &-main {
      .checkbox {
        margin-right: 1rem;
      }
      .name {
        margin-bottom: 0.25rem;
        svg {
          margin-left: 0.5rem;
        }
      }
    }
    .status {
      height: 0.675rem;
      width: 0.675rem;
      border-radius: 50%;
      margin-right: 0.5rem;
      &.new {
        background-color: $gray;
      }
      &.confirmed {
        background-color: $warning;
      }
      &.done {
        background-color: $success;
      }
    }
  }
  &-controls {
    padding: 1.25rem 1rem;
    .btn {
      width: 100%;
      font: 700 1.125rem/1.5rem 'Inter';
      padding: 1rem 0;
    }
    .row {
      margin: 0 -0.625rem;
      margin-bottom: 1.25rem;
      .col-6 {
        padding: 0 0.625rem;
      }
    }
    .order {
      background: $primary;
    }
    .take {
      background: rgba($color: #000000, $alpha: 0.95);
    }
    .pay {
      background: $success;
    }
  }
  & > .col {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 0 1.5rem;
  }
}
