.history {
  min-height: 100vh;
  .search {
    flex: 1 1 auto;
    margin: 0 1.5rem;
    border: 0;
    position: relative;
    .smooth-h,
    input {
      min-width: 100%;
      width: 100%;
      max-width: 100%;
      height: auto;
      padding: 0 3rem 0 1rem;
    }
    .btn {
      position: absolute;
      right: 0;
    }
  }
  .filter-btn {
    padding: 0.75rem 1.25rem;
    svg {
      font-size: 1.25rem;
    }
    &.flat {
      background: $primary;
    }
    &.slim {
      color: $gray;
    }
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &:last-child {
      padding: 0.75rem;
    }
  }
  .row {
    padding: 1rem;
  }
  &-item {
    border: $border;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin: 0.5rem;
    cursor: pointer;
    position: relative;
    & > .flex-v-center {
      justify-content: space-between;
      &:first-child {
        margin-bottom: 0.25rem;
      }
    }
    .btn.flat {
      font-weight: 400;
      padding: 0.125rem 0.5rem;
      font-size: 0.75rem;
      border-radius: 0.25rem;
      background: $primary;
    }
    .caption {
      color: $gray;
    }
  }
  &-detail {
    width: 100vw;
    max-width: 30rem;
    padding: 1.5rem;
    .history-item {
      border: 0;
    }
    .-item {
      padding: 1.25rem;
      justify-content: space-between;
      border-bottom: $border;
      b {
        display: block;
      }
      h6 {
        font-weight: 400;
      }
      .-name {
        padding-bottom: 0.25rem;
        color: $gray;
      }
    }
    .btn.slim {
      padding: 1rem 3rem;
      color: $primary;
      border-color: $primary;
      margin-top: 1.5rem;
      font-weight: 700;
    }
  }
}
