.kitchen {
  max-height: 100vh;
  &-order {
    border: $border;
    margin: 1rem 0.5rem;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;

    .-header {
      padding: 0 1rem;
      color: #000;
      .flex-h-between {
        padding-bottom: 0.25rem;
      }
    }

    .-tag.btn.flat {
      font-weight: 400;
      padding: 0.125rem 0.5rem;
      font-size: 0.865rem;
      border-radius: 0.25rem;
      background: $primary;
      cursor: default;
      margin-right: 0.5rem;
    }

    .-item {
      padding: 0.75rem;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      &.checked {
        background-color: rgba($color: $success, $alpha: 0.12);
      }

      .-name {
        color: $gray;
        & > svg {
          margin-right: 0.25rem;
          font-size: 1.25em;
        }
      }
      border-bottom: $border;
      .radio {
        height: 1.625rem;
        width: 1.625rem;
        &.-loading {
          svg {
            font-size: 1.625rem;
            color: $gray;
          }
        }
      }
    }
    .btn.slim {
      padding: 0.5rem 2rem;
      color: $primary;
      border-color: $primary;
      margin-top: 1rem;
      font-weight: 700;
    }
  }
  .-origin {
    text-transform: capitalize;
  }
  .row {
    max-height: 100%;
    overflow-y: auto;
    padding: 0 0.75rem;
  }
  &-number {
    background-color: $success;
    padding: 0.5rem 1.25rem;
    svg {
      margin-right: 0.25rem;
      font-size: 1.25rem;
    }
  }
}
