.products {
  &-category {
    color: rgba(0, 0, 0, 0.68);
    padding: 0.75rem 1.5rem;
    font-size: 0.825rem;
    font-weight: 600;
    &.slim {
      &:hover {
        background-color: #f5f5f5;
      }
      &:active {
        background-color: $primary;
        color: #fff;
      }
    }
  }
  &-header {
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 1.25rem 0;
  }
  &-search {
    height: 2.75rem;
    width: 2.75rem;
    background: $background-gray;
    font-size: 1.25rem;
    border-radius: 50%;
    border: $border;
  }
}
.row {
  display: flex;
  flex-flow: row wrap;
  margin: -0.625rem;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
.col {
  flex: 1 1 25%;
  max-width: 25%;
  padding: 0.625rem;
}
.product {
  border: $border;
  border-radius: 0.5rem;
  padding: 0.75rem;
  .img-wrap {
    margin-bottom: 0.75rem;
    aspect-ratio: 16 / 12;
  }
  &-name,
  &-price {
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.15px;
  }
  &-price {
    margin-top: 0.25rem;
  }
}
