.report {
  height: 100vh;
  display: flex;
  flex-direction: column;
  &-inner {
    padding: 1.5rem;
  }
  .row {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
  }
  h6 {
    margin-bottom: 1.5rem;
  }
  input,
  .react-select {
    margin-bottom: 1.5rem;
  }
  .btn.flat {
    background: $primary;
    width: 100%;
    padding: 0.75rem 0;
  }
  &-reciept {
    overflow-y: auto;
    max-height: 100%;
  }
}
@media print {
  .report {
    .pos-header {
      display: none;
    }
    &-inner {
      display: none;
    }
    &-reciept {
      overflow-y: visible;
    }
  }
}
