.slot {
  &-header {
    .slot-number {
      background-color: $success;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 800;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: $success-hover;
      }
      &::after {
        content: '';
      }
    }
    .react-horizontal-scrolling-menu--separator {
      padding: 0 0.5rem;
    }
  }
  &-dropdown {
    white-space: nowrap;
    background-color: #fff;
    padding: 0.5rem 0.75rem;
    svg {
      font-size: 1.125rem;
      margin-left: 0.75rem;
    }
    &:hover {
      background-color: $background-gray;
    }
  }
  &-choose {
    padding: 0.75rem 1.25rem;
    .slim {
      width: 100%;
      height: 3.75rem;
      justify-content: space-between;
      background-color: $background-gray;
      &:hover {
        background-color: #dcdcdc;
      }
    }
  }
}
