input,
textarea {
  border: $border;
  padding: 1rem;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  &:focus {
    border-color: $primary !important;
    outline: 0;
  }
}
.input-ic {
  padding: 1.5rem;
  border: $border-white;
  border-radius: 1.5rem;
  display: inline-flex;
  input {
    flex: 1 1 auto;
    margin: 0.375rem;
    border-radius: 1.5rem;
    font: 800 3.5rem/4.5rem 'Inter';
    text-align: center;
    border: 0 !important;
    &::placeholder {
      color: #000;
      opacity: 1;
    }
  }
}
