.loading {
  &-dots {
    display: inline-flex;
    text-align: center;
    align-items: center;
    line-height: 1.75rem;
    .dot {
      border-radius: 50%;
      height: 0.5rem;
      width: 0.5rem;
      background-color: currentColor;
      animation: blink 1.4s infinite both;
      margin: 0 0.125rem;
      &:nth-of-type(2) {
        animation-delay: 0.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.4s;
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
