.ebarimt {
  &-root {
    max-width: 944px;
    width: calc(100vw - 3rem);
    min-height: 40vh;
    padding: 4rem 1.25rem;
  }
  max-width: 572px;
  margin: auto;
  & > b {
    display: block;
    padding-bottom: 0.875rem;
  }
  .row {
    margin: 0 -0.675rem;
    .col-6 {
      padding: 0.675rem;
      .btn.slim {
        width: 100%;
        padding: 1.5rem 0;
        transition: all 0.15s ease-in-out;
        font-size: 1rem;
        &:hover {
          background-color: transparent;
        }

        &.active {
          border-color: $success;
          span {
            border-color: inherit;
            position: relative;
            svg {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .print {
    margin-left: auto;
    display: block;
    background-color: $primary;
    padding: 1rem 5rem;
  }
  .register {
    background-color: #000;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    margin-top: 0.675rem;
    justify-content: space-between;
    white-space: nowrap;
    color: $white-gray;
    position: relative;
    margin-bottom: 2rem;
    input {
      background-color: #000;
      border: 0;
      color: #fff;
      font-weight: 700;
      padding: 0;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      font-size: 1rem;
      line-height: 1;
      font: 700 1rem/1.5rem 'Inter';
      display: inline-block;
      width: auto;
    }
    .name {
      color: $success;
    }
    .error {
      position: absolute;
      top: calc(100% + 0.5rem);
      left: 2.5rem;
      z-index: 1;
    }
  }
  &-kiosk {
    // background-color: #000;
    // * {
    //   color: #fff;
    // }
    // .btn.slim {
    //   border-color: $white-gray;
    // }
    width: calc(100vw - 3rem);
    max-width: 918px;
    padding: 3.75rem;
    text-align: center;
    &-org {
      max-width: 58rem;
      padding: 0 5rem;
      h2 {
        padding: 5rem 0;
      }
      .btn {
        padding: 1.5rem 0;
        margin: 2rem 0 5rem;
        width: 100%;
      }
    }
    h4:first-of-type {
      margin: 2.5rem 0 1.5rem;
    }
  }
}
