.keyboard {
  padding-top: 2.5rem;
  border-top: $border-white;
  max-width: 58rem;
  margin: auto;
  .row {
    margin: -0.625rem;
  }
  .key {
    padding: 0.625rem;
    .btn.slim {
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      color: #fff;
      border: $border-white;
    }
  }
  &.sm {
    max-width: 25rem;
    padding-top: 1.5rem;
    border-top: 0;
    .row {
      margin: -0.25rem;
    }
    .key {
      padding: 0.25rem 0.5rem;
    }

    h2 {
      font: 800 1.5rem/2.5rem 'Inter';
    }
  }
}
