.keyboard {
  padding-top: 2.5rem;
  border-top: $border-white;
  max-width: 58rem;
  margin: auto;
  .row {
    margin: -0.625rem;
  }
  .key {
    padding: 0.625rem;
    .btn.slim {
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      color: #fff;
      border: $border-white;
    }
  }
}

.ebarimt {
  .keyboard {
    // background: #000;
    padding-top: 0;
    padding-bottom: 1.5rem;
    .row {
      margin: auto;
      max-width: 25rem;
    }
    .key {
      padding: 0.25rem 0.5rem;
      .btn.slim {
        color: #000;
        border: $border;
      }
    }

    h2 {
      font: 800 1.5rem/2.5rem 'Inter';
    }
  }
}
