.qpay {
  padding: 5rem;

  .qr {
    height: 256px;
    width: 256px;
    margin: 1.5rem 0;
    border: 1rem solid #fff;
    border-radius: 0.5rem;
  }
  .flex-center {
    gap: 1rem;
    &:first-of-type {
      padding-bottom: 1rem;
    }
  }
  .btn.flat {
    background: $primary;
  }

  &-list {
    padding: 3rem 3rem 2rem;
    table {
      width: 800px;
      th {
        padding: 0 1rem 1rem;
        border-bottom: $border-white;
      }
      td {
        text-align: center;
        padding: 1rem;
      }
      tbody tr {
        &:not(:last-child) {
          th,
          td {
            border-bottom: $border-white;
          }
        }
      }

      .btn.flat {
        background: $success;
      }
    }
  }
  &.-kiosk {
    .flex-center {
      &:first-of-type {
        padding-bottom: 2rem;
      }
    }
    .btn.flat {
      width: 100%;
      padding: 0.75rem;
    }
  }
}
