body {
  color: rgba(0, 0, 0, 0.85);
  font-family: 'Inter', sans-serif;
  font-variant: tabular-nums;
  line-height: 1.5;
  background-color: #fff;
  font-feature-settings: 'tnum';
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

.img-wrap {
  position: relative;
}
