.flex {
  &-v-center {
    display: flex;
    align-items: center;
  }
  &-h-center {
    display: flex;
    justify-content: center;
  }
  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-0 {
    flex: 0 0 auto;
  }
  &-1 {
    flex: 1 1 auto;
    overflow: hidden;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
}
.col-3 {
  flex: 1 1 25%;
  max-width: 25%;
}
.col-4 {
  flex: 1 1 $one-third;
  max-width: $one-third;
}

.h-100vh {
  height: 100vh;
}
.fill {
  min-height: 100%;
  min-width: 100%;
}

.text-center {
  text-align: center;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.25rem;
  &-track {
    background: #f1f1f1;
  }
  &-thumb {
    background: #888;
    &:hover {
      background: #555;
    }
  }
}
